<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
  <nav>
    <div class="container-fluid">
      <div class="logo">
        <a class="navbar-brand" th:href="@{/}">데이터 상관관계</a>
      </div>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbavUl">
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/first}">지도검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">데이터분석자료</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/apiname}">상권매출</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/popular/first}">인구이동</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

</html>